= simple_form_for(@calculation) do |f|
    = f.error_notification

    .form-inputs
        - if current_user
            = f.input :user_id, value: current_user.id, hidden: true
        = f.input :quantity_id, required: true, placeholder: 'Physical quantity', input_html: { type: :text, id: 'quantity', class: 'flexdatalist', data: { units: '#quantityUnits', data: 'quantities.json', search_in: 'name', text_property: 'name', visible_properties: ['symbol', 'name'], selection_required: 'true', value_property: 'id', min_length: '0' } }
        = f.input :unit_of_measurement_id, disabled: true, required: true, placeholder: 'Unit of measurement', input_html: { type: :text, id: 'quantityUnits', data: { search_in: 'name', text_property: 'name', visible_properties: ['symbol', 'name'], chained_relatives: 'true', relatives: '#quantity', selection_required: 'true', value_property: 'id', min_length: '0' } }

    .form-actions
        = f.button :submit
