.title-wrapper
    %h1= t 'd.p.calculations'
    = link_to search_url do
        = asset 'icons/search.svg'

.cards
    - if current_user.calculations.any?
        - current_user.calculations.order('created_at desc').each do |calculation|
            = render 'calculations/calculation', calculation: calculation
    - else
        = link_to app_root_url, class: 'card', data: { turbolinks_animate_type: 'nav' } do
            .wrapper
                %h3= t 'calculations.index.empty.title'
                %p.small= t 'calculations.index.empty.content'
            = asset 'components/list/item-open.svg'
