%h1 Calculations

.cards
    - @calculations.each do |calculation|
        = link_to calculation, class: 'card' do
            .wrapper
                %h2.small
                    = calculation.result.pretty_value
                    %span= calculation.unit_of_measurement.symbol
                %p.small
                    %span= calculation.name || calculation.quantity.name
                    ·
                    %span= timeago calculation.created_at
            = asset 'components/list/item-open.svg'
