- unless current_user
    .ad
        %h3= t 'calculations.new.ad.title'
        %p= t 'calculations.new.ad.content'
        .wrapper
            = link_to t('d.signup'), new_user_registration_url, class: 'btn'
            = link_to t('d.signin'), new_user_session_url, class: 'btn secondary'

%p.setup.invisible
    %span.quantity= t 'd.quantity'
    %span.in= t('d.in').downcase
    %span.unit= t('d.unit').downcase

= render 'form', calculation: @calculation
