- unless current_user
    - if notice
        - append :head do
            %script{ type: 'text/javascript' }
                window.onload = function() { componentsModalOpen('.modal.signup'); };

= link_to (current_user ? calculations_url : url_for(:back)), class: 'back' do
    = asset 'components/back.svg'

- if @calculation.result.undefined
    %h2 Undefined
- else
    %h2.copy{ data: { clipboard_text: @calculation.result.value.to_s } }
        = @calculation.result.pretty_value
        %span= @calculation.unit_of_measurement.symbol

%p
    %span= link_to @calculation.quantity.name, quantity_url(@calculation.quantity)
    ·
    %span= timeago @calculation.created_at

.wrapper
    %h1= @calculation.name || 'Add a name'
    .wrapper
        .copy{ data: { clipboard_text: @calculation.result.value.to_s } }= asset 'icons/ungroup.svg'
        .md-trigger{ data: { modal: '.share' } }= asset 'icons/share-26.svg'
        = link_to calculation_url(@calculation), data: { confirm: 'Are you sure?' }, method: :delete, class: 'delete' do
            = asset 'icons/trash-round.svg'
%p.margin= @calculation.description || 'Add some details'

.modal.share
    .modal-content-wrapper
        %h3 Share
        .wrapper
            = link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", target: '_blank'
            = link_to 'Twitter', "https://twitter.com/home?status=I%20created%20a%20new%20calculation%20with%20%40phylator.%20Take%20a%20look!%20#{request.original_url}", target: '_blank'
            = link_to 'Google +', "https://plus.google.com/share?url=#{request.original_url}", target: '_blank'
            = link_to 'Email', "mailto:?&subject=My%20new%20calculation&body=Take%20a%20look!%20#{request.original_url}"

.modal.signup
    .modal-content-wrapper
        %h3 Save this calculation
        %p After logging in you have access to all your calculations as well as the entire database of quantities, units & equations.
        .flex-wrapper
            = link_to 'Signup', new_user_registration_url(calculation: @calculation.id), class: 'btn'
            = link_to 'Login', new_user_session_url(calculation: @calculation.id), class: 'btn secondary'


-# %span
-#     = '+-'
-#     - if @calculation.result.margin_of_error.to_s.size > 12
-#         = "%e" % @calculation.result.margin_of_error.to_s
-#     - else
-#         = @calculation.result.margin_of_error.to_s
