- unless current_user
    - if notice
        - append :head do
            %script{ type: 'text/javascript' }
                $(document).on( 'turbolinks:load', function() { componentsModalOpen('.modal.signup'); });

= link_to (current_user ? calculations_url : app_root_url), class: 'back', data: { turbolinks_animate_appear: 'fadein' } do
    = asset 'components/back.svg'

.tools
    .copy{ data: { clipboard_text: @calculation.result.value.to_s } }= asset 'icons/ungroup.svg' unless @calculation.result.undefined
    .share.md-trigger{ data: { modal: '.share' } }= asset 'icons/share-26.svg'
    .delete.md-trigger{ data: { modal: '.delete' } }= asset 'icons/trash-round.svg'



.head-wrapper
    - if @calculation.result.undefined
        %h2.red= t 'calculations.show.no_solution_found'
    - else
        %h2.copy{ data: { clipboard_text: @calculation.result.value.to_s } }
            = @calculation.result.pretty_value
            %span= @calculation.unit_of_measurement.sym
    %p
        %span= link_to @calculation.quantity.name, @calculation.quantity, data: { turbolinks_animate_animation: 'fadeout' }
        ·
        %span= timeago @calculation.created_at

- unless current_user
    - if notice
        .account-wrapper{ class: ('invisible' if notice) }
            .flex-wrapper
                = link_to t('d.signup'), new_user_registration_url(calculation: @calculation.id), class: 'btn'
                = link_to t('d.signin'), new_user_session_url(calculation: @calculation.id), class: 'btn secondary'

.content-wrapper
    - if can? :update, @calculation
        .md-trigger{ data: { modal: '.edit' } }
            - if @calculation.name.nil? || @calculation.name == ''
                %h3= t('calculations.show.details.add')
            - else
                %h3= @calculation.name
            %p= @calculation.description if @calculation.description

    - if current_user && current_user.id == @calculation.user_id
        %h3= t('cd.convert_to') + ' ...'
        = simple_form_for @calculation do |f|
            = f.input :unit_of_measurement_id, required: true, label: false, input_html: { type: :text, value: @calculation.unit_of_measurement_id, class: 'flexdatalist', data: { data: '/app/quantities/' + @calculation.quantity.id.to_s + '/units_of_measurement.json?locale=' + I18n.locale.to_s, search_in: ['sym', 'name'], text_property: 'sym', visible_properties: ['sym', 'name'], selection_required: 'true', value_property: 'id', min_length: '0' } }


    %h3= t 'd.p.measurements'
    .cards
        - @calculation.measurements.each do |measurement|
            = link_to request.base_url + '/app/calculations/' + @calculation.id.to_s + '/measurements/' + measurement.id.to_s, class: 'card', data: { turbolinks_animate_animation: 'fadeout' } do
                .wrapper
                    %h2.small
                        = measurement.pretty_value
                        %span= measurement.unit_of_measurement.sym
                    %p.small
                        - unless measurement.name.nil? || measurement.name == ''
                            %span= measurement.name
                            ·
                        %span= measurement.quantity.name
                = asset 'components/list/item-open.svg'


    - if @calculation.constants.any?
        %h3= t 'cd.physical_constants'
        .cards
            - @calculation.constants.each do |constant|
                = link_to constant, class: 'card' do
                    .wrapper
                        %h2.small= constant.sym
                        %p.small
                            %span= constant.name
                    = asset 'components/list/item-open.svg'

    - if @calculation.equations.any?
        %h3= t 'd.p.equations'
        .cards
            - @calculation.equations.uniq.each do |equation|
                .card
                    .wrapper
                        = '`' + equation.quantity.sym + '=' + equation.equation + '`'






.modal.share
    .modal-content-wrapper
        %h3= t 'd.share'
        .wrapper
            = link_to 'Twitter', "https://twitter.com/home?status=I%20created%20a%20new%20calculation%20with%20%40phylator.%20Take%20a%20look!%20#{request.original_url}", target: '_blank'
            = link_to 'WhatsApp', "whatsapp://send?text=#{request.original_url}", target: '_blank'
            = link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", target: '_blank'
            = link_to t('d.email'), "mailto:?&subject=My%20new%20calculation&body=Take%20a%20look!%20#{request.original_url}", target: '_blank'

.modal.signup
    .modal-content-wrapper
        %h3= t 'calculations.show.save.title'
        %p= t 'calculations.show.save.content'
        .flex-wrapper
            = link_to t('d.signup'), new_user_registration_url(calculation: @calculation.id), class: 'btn'
            = link_to t('d.signin'), new_user_session_url(calculation: @calculation.id), class: 'btn secondary'

.modal.edit
    .modal-content-wrapper
        = simple_form_for(@calculation) do |f|
            = f.input :name, label: t('d.title')
            = f.input :description, label: t('d.description')
            .flex-wrapper
                = f.button :submit, t('d.save')

.modal.delete
    .modal-content-wrapper
        = link_to t('d.delete') + '?', calculation_url(@calculation), method: :delete, class: 'btn warn'


-# %span
-#     = '+-'
-#     - if @calculation.result.margin_of_error.to_s.size > 12
-#         = "%e" % @calculation.result.margin_of_error.to_s
-#     - else
-#         = @calculation.result.margin_of_error.to_s
