- meta title: 'Account'

%h1.sm Account

.myg-list
    .myg-list--item= link_to 'Tour', setup_url(stay: true)
    .myg-list--item= link_to 'Change language', language_url, class: 'modalist--trigger'
    .myg-list--item= link_to 'Signout', destroy_user_session_path, method: :delete

%hr

- if @purchases.any?
    %h3 Purchases
    .myg-list
        - @purchases.each do |purchase|
            =render purchase
    %hr

= simple_form_for resource, as: resource_name, url: user_registration_url, html: { method: :put } do |f|
    = component 'myg/form-field', as: :input, attribute: :email, class_name: 'user', floating_label: 'Email', input_html: { required: true, type: 'email', value: current_user.email }
    = component 'myg/form-field', as: :input, attribute: :password, class_name: 'user', floating_label: 'New password (optional)', input_html: { minlength: 5, type: 'password' }
    = component 'myg/form-field', as: :input, attribute: :current_password, class_name: 'user', floating_label: 'Current password', input_html: { required: true, minlength: 5, type: 'password' }
    .myg-button--container
        = component 'myg/button', value: 'Update'
        = link_to 'Delete account', user_registration_url, method: :delete, data: { confirm: t('devise.registrations.edit.delete') }, class: 'myg-button myg-button--secondary error'
