%h1= t 'devise.registrations.edit.title'
%p= current_user.email

.list
    = link_to setup_url(stay: true), class: 'tour list-item' do
        %h3= t 'devise.registrations.edit.list.tour'
        = asset 'components/list/item-open.svg'
    = link_to language_url, class: 'language list-item' do
        %h3= t 'devise.registrations.edit.list.language'
        = asset 'components/list/item-open.svg'
    = link_to destroy_user_session_path, method: :delete, class: 'logout list-item' do
        %h3= t 'd.logout'
        = asset 'components/list/item-open.svg'

%hr

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification

    .form-inputs
        = f.input :email, required: true, label: t('d.email')
        = f.input :password, autocomplete: 'off', required: false, label: t('cd.new_password')
        = f.input :current_password, required: true, label: t('cd.current_password')

    .form-actions
        = f.button :submit, t('d.update')
        = link_to t('d.delete'), registration_path(resource_name), data: { confirm: t('cd.are_you_sure?') }, method: :delete, class: 'btn warn'
