%h1= t 'devise.registrations.edit.title'
%p= current_user.email

.list
    = link_to setup_url(stay: true), class: 'tour list-item' do
        %h3= t 'devise.registrations.edit.list.tour'
        = asset 'components/list/item-open.svg'
    = link_to language_url, class: 'language list-item' do
        %h3= t 'devise.registrations.edit.list.language'
        = asset 'components/list/item-open.svg'
    = link_to destroy_user_session_path, method: :delete, class: 'logout list-item' do
        %h3= t 'd.logout'
        = asset 'components/list/item-open.svg'

%hr

- if current_user.purchases.any?

    %h1= t 'd.p.purchases'

    .cards
        - current_user.purchases.each do |purchase|
            = link_to purchase.pack, class: 'card' do
                .wrapper
                    %h2.small= number_to_currency purchase.amount, unit: '$'
                    %p.small
                        %span= purchase.pack.name
                        ·
                        %span= time_ago_in_words purchase.created_at
                = asset 'components/list/item-open.svg'

    %hr

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification

    .form-inputs
        = f.input :email, required: true, label: t('d.email')
        = f.input :password, autocomplete: 'off', required: false, label: t('cd.new_password')
        = f.input :current_password, required: true, label: t('cd.current_password')

    .form-actions
        = f.button :submit, t('d.update')
        = link_to t('d.delete'), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.delete') }, method: :delete, class: 'btn warn'
