%h1 Account
%p= current_user.email

.list
    = link_to setup_url(stay: true), class: 'tour list-item' do
        %h3 Take a tour
        = asset 'components/list/item-open.svg'
    = link_to language_url, class: 'language list-item' do
        %h3 Change language
        = asset 'components/list/item-open.svg'
    = link_to destroy_user_session_path, method: :delete, class: 'logout list-item' do
        %h3 Logout
        = asset 'components/list/item-open.svg'

%hr

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification

    .form-inputs
        = f.input :email, required: true
        = f.input :password, autocomplete: 'off', label: 'New password', required: false
        = f.input :current_password, required: true

    .form-actions
        = f.button :submit, 'Update'
        = link_to 'Delete', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn warn'
