- meta title: 'Signup'

- if params.has_key? :calculation
    %h2 Save your calculation
- else
    %h2 Get started
%p Welcome to Phylator! Enter some credentials to get started.

= simple_form_for resource, as: resource_name, url: user_registration_url, html: { id: 'signup-form' } do |f|
    = f.input :calculation_id, as: :hidden, required: false, input_html: { value: params[:calculation] }
    = component 'myg/form-field', as: :input, attribute: :email, class_name: 'user', floating_label: 'Email', input_html: { required: true, type: 'email', autofocus: true }
    = component 'myg/form-field', as: :input, attribute: :password, class_name: 'user', floating_label: 'Password', input_html: { required: true, type: 'password', minlength: 5 }

- replace :footer do
    %p.sm
        = link_to 'Login instead?', new_user_session_url(calculation: params[:calculation]), class: 'hyperlink--inherit'
    = component 'myg/button', value: 'Signup', form: 'signup-form'
