%h1= t 'd.signup'

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification

    .form-inputs
        = f.input :calculation_id, as: :hidden, required: false, input_html: { value: params[:calculation] }
        = f.input :email, required: true, autofocus: true, label: t('d.email')
        = f.input :password, required: true, label: t('d.password'), hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)

    .form-actions
        = f.button :submit, t('d.signup')

.links
    = render 'devise/shared/links'
