<p id="notice"><%= notice %></p>

<h1>Unit Of Measurements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_of_measurements.each do |unit_of_measurement| %>
      <tr>
        <td><%= link_to 'Show', unit_of_measurement %></td>
        <td><%= link_to 'Edit', edit_unit_of_measurement_path(unit_of_measurement) %></td>
        <td><%= link_to 'Destroy', unit_of_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit Of Measurement', new_unit_of_measurement_path %>
