- replace :title do
    %input#query{ autofocus: true, spellcheck: 'false' }
- replace :tools do
    %p#tab.hidden{ class: params[:tab] || 'calculations' }= params[:tab] || 'calculations'
    = link_to search_url, class: 'calculations', data: { turbolinks_animate_animation: 'fadeout' } do
        = asset 'icons/calculator.svg'
    = link_to search_url(tab: 'quantities'), class: 'quantities', data: { turbolinks_animate_animation: 'fadeout' } do
        = asset 'icons/quantity.svg'
    = link_to search_url(tab: 'constants'), class: 'constants', data: { turbolinks_animate_animation: 'fadeout' } do
        = asset 'icons/constant.svg'
    = link_to search_url(tab: 'packs'), class: 'packs', data: { turbolinks_animate_animation: 'fadeout' } do
        = asset 'icons/shop.svg'


.cards
    = render 'placeholder'
