- replace :title do
    = component 'myg/input', attribute: 'query', autofocus: true, spellcheck: 'false'
- replace :tools do
    %p#tab.hidden{ class: params[:tab] || 'calculations' }= params[:tab] || 'calculations'
    = link_to search_url, class: 'calculations', data: { turbolinks_animate_animation: 'fadeout' } do
        %i.nc-icon.nc-calculator
    = link_to search_url(tab: 'quantities'), class: 'quantities', data: { turbolinks_animate_animation: 'fadeout' } do
        %i.nc-icon.nc-bold
    = link_to search_url(tab: 'packs'), class: 'packs', data: { turbolinks_animate_animation: 'fadeout' } do
        %i.nc-icon.nc-gift-2


.cards
    = render 'placeholder'
