= link_to purchase.pack, class: 'card' do
    .wrapper
        %h2.small= number_to_currency purchase.amount, unit: '$'
        %p.small
            %span= purchase.pack.name
            ·
            %span= time_ago_in_words purchase.created_at
    = asset 'components/list/item-open.svg'
