.slick{ data: { slick: '{ "slidesToShow": 1, "slidesToScroll": 1 }' } }

    #slide1.slide
        %h1= t 'welcome.index.slide1.title'
        %p= t 'welcome.index.slide1.content'

    #slide2.slide
        %h1= t 'welcome.index.slide2.title'
        %p= t 'welcome.index.slide2.content'

    #slide3.slide
        %h1= t 'd.contribute'
        %p
            = t 'welcome.index.slide3.content1'
            = link_to 'Phylator', 'https://github.com/jonhue/phylator', target: '_blank'
            = t 'welcome.index.slide3.content2'

        - if current_user
            .wrapper
                = link_to t('cd.get_started'), root_url, class: 'btn'

    - unless current_user
        #slide4.slide
            %h1= t 'welcome.index.slide4.title'
            %p= t 'welcome.index.slide4.content'

            .wrapper
                = link_to t('d.signin'), new_user_session_url, class: 'btn secondary'
                = link_to t('cd.get_started'), language_url, class: 'btn'
