- metamagic title: 'A simple but powerful calculator for physics'
- append :head do
    = component 'seo/schema', type: :organization, name: 'Phylator'

.header
    .identity
        = link_to root_url do
            = asset 'icons/logo.svg'
    .links
        = link_to t('cd.follow_on_twitter', username: 'phylator'), 'https://twitter.com/phylator', target: '_blank'
        - if current_user
            = link_to t('d.account'), edit_user_registration_url, class: 'btn secondary'
        - else
            = link_to t('d.login'), new_user_session_url, class: 'btn secondary'

.center-wrapper
    .main
        .wrapper
            %h1= t('welcome.product.main.title')
            %h2= t('welcome.product.main.content')
            = link_to t('cd.launch_app'), (current_user ? app_root_url : setup_url), class: 'btn'
            .links
                = link_to 'https://play.google.com/store/apps/details?id=com.herokuapp.phylator', class: 'btn secondary icon', target: '_blank' do
                    = asset 'icons/android.svg'
                = link_to '', class: 'btn secondary icon', target: '_blank' do
                    = asset 'icons/ios.svg'
                = link_to 'https://www.microsoft.com/store/apps/9p2s8l446bhc', class: 'btn secondary icon', target: '_blank' do
                    = asset 'icons/windows.svg'
                = link_to 'https://chrome.google.com/webstore/detail/phylator/ggpfjgcjfolgjiblbgfekmboejonlnng', class: 'btn secondary icon', target: '_blank' do
                    = asset 'icons/chrome.svg'
        .img-wrapper
            = image_tag 'packages/welcome/product/main@2x.png', width: '343px'

    .continue
        = asset 'icons/scroll.svg'

    .features{ data: { aos: 'fade-up', aos_delay: '150', aos_duration: '600', aos_easing: 'ease-out-sine' } }
        .calculate
            = image_tag 'packages/welcome/product/calculate@2x.png', width: '343px'
            %h3= t('welcome.product.features.calculate_html')
        .walkthrough
            = image_tag 'packages/welcome/product/walkthrough@2x.png', width: '343px'
            %h3= t('welcome.product.features.walkthrough_html')
        .explore
            = image_tag 'packages/welcome/product/explore@2x.png', width: '343px'
            %h3= t('welcome.product.features.explore_html')

    %hr

    .open-source{ data: { aos: 'fade-up', aos_delay: '150', aos_duration: '600', aos_easing: 'ease-out-sine' } }
        %h3= t('welcome.product.open_source.title')
        %p= t('welcome.product.open_source.content')
        = link_to t('cd.view_on_github'), 'https://github.com/Phylator/phylator', class: 'btn secondary', target: '_blank'

.footer
    .identity
        %h3 Phylator
        %h4= t('welcome.product.main.title') + '.'
    = link_to 'https://nativegap.com', target: '_blank' do
        = asset 'icons/nativegap.svg'
    .links
        = link_to t('cd.privacy_policy'), privacy_url
        - if current_user
            = link_to t('d.account'), edit_user_registration_url, class: 'btn secondary'
        - else
            = link_to t('d.login'), new_user_session_url, class: 'btn secondary'
        = link_to t('cd.launch_app'), (current_user ? app_root_url : setup_url), class: 'btn'
