.myg-slide.main-carousel
    .carousel-cell
        %h1.sm= t 'welcome.index.slide1.title'
        %p.lg= t 'welcome.index.slide1.content'
    .carousel-cell
        %h1.sm= t 'welcome.index.slide2.title'
        %p.lg= t 'welcome.index.slide2.content'
    .carousel-cell
        %h1.sm= t 'welcome.index.slide4.title'
        %p.lg= t 'welcome.index.slide4.content'
        .myg-button--container
            - if current_user
                = link_to 'Get started', app_root_url, class: 'myg-button'
            - else
                = link_to 'Signin', new_user_session_url, class: 'myg-button'
                = link_to 'Get started', app_root_url, class: 'myg-button myg-button--secondary'
