<p id="notice"><%= notice %></p>

<h1>Equations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equations.each do |equation| %>
      <tr>
        <td><%= link_to 'Show', equation %></td>
        <td><%= link_to 'Edit', edit_equation_path(equation) %></td>
        <td><%= link_to 'Destroy', equation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equation', new_equation_path %>
