- replace :title do
    %h2= '`' + @equation.quantity.ascii_sym + '=' + @equation.equation + '`'



%h3= t 'cd.physical_quantities'
.cards
    = render 'quantities/quantity', quantity: @equation.quantity, animation: 'fadeout'
    - @equation.quantities.with_translations(I18n.locale).order(:name).each do |quantity|
        = render 'quantities/quantity', quantity: quantity, animation: 'fadeout'

- if @equation.constants.any?
    %h3= t 'cd.physical_constants'
    .cards
        - @equation.constants.with_translations(I18n.locale).order(:name).each do |constant|
            = render 'constants/constant', constant: constant, animation: 'fadeout'

- if @equation.calculations.where(user_id: current_user.id).any?
    %h3= t 'd.p.calculations'
    .cards
        - @equation.calculations.where(user_id: current_user.id).order('created_at desc').each do |calculation|
            = render 'calculations/calculation', calculation: calculation, animation: 'fadeout'
