- meta title: "Equation for #{@equation.quantity.name}"

- replace :title do
    %h1.sm= '`' + @equation.quantity.ascii_sym + '=' + @equation.equation + '`'

%p= @equation.title

- if @equation.conditions.any?
    %h2 Conditions
    .myg-list
        - @equation.conditions.each do |condition|
            .myg-list--item
                %p= condition

- if @quantities.any?
    %h2 Quantities
    .myg-grid.myg-wrap--phone
        = render @equation.quantity, animation: 'fadeout', highlighted: true
        - @quantities.each do |quantity|
            = render quantity, animation: 'fadeout', link: quantity.pack.purchased?(current_user)

- if @constants.any?
    %h2 Constants
    .myg-grid.myg-wrap--phone
        - @constants.each do |constant|
            = render constant, animation: 'fadeout', link: constant.pack.purchased?(current_user)

- if @calculations.any?
    %h2 Calculations
    .myg-grid.myg-wrap--phone
        - @calculations.each do |calculation|
            = render calculation, animation: 'fadeout'
