= asset 'logo.svg'
%h2= t('r404.not_found.title')
%p= t('r404.not_found.content')
.myg-button--container
    = link_to t('r404.not_found.phylator'), root_url, class: 'myg-button'
    = link_to t('r404.not_found.apples_on_amazon'), 'https://www.amazon.com/s/ref=sr_1_1_hso_sc_smartcategory_1?rh=n%3A724694011%2Ck%3Aapple&keywords=apple&ie=UTF8&qid=1522065982&sr=8-1-acs', target: '_blank', class: 'myg-button myg-button--secondary'
