= link_to pack, class: 'myg-card', data: { turbolinks_animate_animation: local_assigns[:animation] } do
    %h3= pack.name
    %p.flex.center--c
        - if pack.purchased? current_user
            %i.myg-i-icon.myg-i-check-circle-08
            %span
                = t 'categories.index.added'
                ⋅
                = pack.price == 0 ? t('categories.show.free') : number_to_currency(pack.price, unit: '$')
        - else
            %i.myg-o-i-icon.myg-o-i-shape-oval
            %span
                = t 'categories.index.not_added'
                ⋅
                = pack.price == 0 ? t('categories.show.free') : number_to_currency(pack.price, unit: '$')
