= link_to '', class: 'back preventdefault', onclick: 'history.back();', data: { turbolinks_animate_appear: 'fadein' } do
    = asset 'components/back.svg'



.head-wrapper
    %h1= @pack.name

.content-wrapper
    %p
        - unless @pack.purchased? current_user
            = link_to t('packs.show.buy', price: number_to_currency(@pack.price)), '', class: 'btn'
        %span= @pack.description

    %h3= t 'cd.physical_quantities'
    .cards
        - @pack.quantities.with_translations(I18n.locale).order(:name).each do |quantity|
            .card
                .wrapper
                    %h2.small= quantity.sym
                    %p.small
                        %span= quantity.name
                        - if quantity.vector
                            ·
                            %span= t 'd.vector'

    %h3= t 'cd.physical_constants'
    .cards
        - @pack.constants.with_translations(I18n.locale).order(:name).each do |constant|
            .card
                .wrapper
                    %h2.small= constant.sym
                    %p.small
                        %span= constant.name
