= link_to '', class: 'back preventdefault', onclick: 'history.back();', data: { turbolinks_animate_appear: 'fadein' } do
    = asset 'components/back.svg'



.head-wrapper
    %h1= @pack.name
    %p= @pack.category.name

- unless @pack.purchased? current_user
    .buy-wrapper
        = link_to t('packs.show.buy', price: number_to_currency(@pack.price)), '', class: 'btn md-trigger', data: { modal: '.buy' }

.content-wrapper
    %p
        %span= @pack.description

    %h3= t 'cd.physical_quantities'
    .cards
        - @pack.quantities.with_translations(I18n.locale).order(:name).each do |quantity|
            .card
                .wrapper
                    %h2.small= quantity.sym
                    %p.small
                        %span= quantity.name
                        - if quantity.vector
                            ·
                            %span= t 'd.vector'

    %h3= t 'cd.physical_constants'
    .cards
        - @pack.constants.with_translations(I18n.locale).order(:name).each do |constant|
            .card
                .wrapper
                    %h2.small= constant.sym
                    %p.small
                        %span= constant.name






.modal.buy
    .modal-content-wrapper
        %h1.small= t('packs.show.modals.buy.title')
        %form#purchase-form{ action: '/charge', method: :post }
            .input
                %label{ for: 'name' }= t('d.name')
                = text_field_tag :name, ''
            .input
                %label{ for: 'receipt_email' }= t('d.email')
                = text_field_tag :receipt_email, current_user.email, type: :email
            .form-row.input
                #card-element
                #card-errors{ role: 'alert' }
            .flex-wrapper.reverse
                %button= t('packs.show.modals.buy.next')
        = form_tag purchases_url(id: @pack.slug), method: :post, id: 'purchase' do
            = text_field_tag :id, '', class: 'hidden'
            = text_field_tag :token, '', class: 'hidden'
            = text_field_tag :receipt_email, '', class: 'hidden'
            .wrapper.hidden
                %p= t('packs.show.modals.buy.success')
                .centered
                    = submit_tag t('packs.show.buy', price: number_to_currency(@pack.price)), onclick: 'componentsModalClose($(".modal.buy"));'
    .modal-loader-wrapper.hidden
        = asset 'loader/modal'
