%h1= t 'd.signin'

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
        = f.input :calculation_id, as: :hidden, required: false, input_html: { value: params[:calculation] }
        = f.input :email, required: false, autofocus: true, label: t('d.email')
        = f.input :password, required: false, label: t('d.password')
        = f.input :remember_me, as: :boolean, label: t('cd.remember_me'), input_html: { checked: true } if devise_mapping.rememberable?

    .form-actions
        = f.button :submit, t('d.signin')

.links
    = render 'devise/shared/links'
