- if local_assigns[:link] == false
    .myg-card
        %h2.sym= quantity.sym
        %p.sm= quantity.name
- else
    = link_to quantity, class: 'myg-card', data: { turbolinks_animate_animation: local_assigns[:animation] } do
        %h2.sym= quantity.sym
        %p.sm= quantity.name
