- if local_assigns[:link] == false
    - if local_assigns[:link_pack] == false
        .myg-card{ class: ('highlighted' if local_assigns[:highlighted]), data: { turbolinks_animate_animation: local_assigns[:animation] } } do
            %h2.sym= quantity.sym
            %p.sm
                = quantity.name
                ·
                Not added
    - else
        = link_to quantity.pack, class: "myg-card #{'highlighted' if local_assigns[:highlighted]}", data: { turbolinks_animate_animation: local_assigns[:animation] } do
            %h2.sym= quantity.sym
            %p.sm
                = quantity.name
                ·
                Not added
- else
    = link_to quantity, class: "myg-card #{'highlighted' if local_assigns[:highlighted]}", data: { turbolinks_animate_animation: local_assigns[:animation] } do
        %h2.sym= quantity.sym
        %p.sm= quantity.name
