%h1= t 'cd.physical_quantities'

.cards
    - @quantities.with_translations(I18n.locale).order(:name).each do |quantity|
        = link_to quantity, class: 'card' do
            .wrapper
                %h2.small= quantity.sym
                %p.small
                    %span= quantity.name
                    - if quantity.vector
                        ·
                        %span= t 'd.vector'
            = asset 'components/list/item-open.svg'


%h1= t 'cd.physical_constants'

.cards
    - @constants.with_translations(I18n.locale).order(:name).each do |constant|
        = link_to constant, class: 'card' do
            .wrapper
                %h2.small= constant.sym
                %p.small
                    %span= constant.name
            = asset 'components/list/item-open.svg'
