- meta title: 'Quantities'

- if current_user.purchases.count == 0
    = component 'suggestion', title: "Expand Phylator's capabilities!", content: 'Purchase an expansion pack to use more phsical quantities and constants in your calculations.' do
        = link_to 'Expansion packs', categories_url, class: 'myg-button', data: { turbolinks_animate_type: 'app' }
        %p.sm= link_to 'Hide', 'javascript:void(0)'

.content-wrapper

    .title
        %h1.sm Quantities
        = link_to search_url(tab: 'quantities') do
            %i.nc-icon.nc-zoom-2

    .myg-grid.myg-wrap--phone
        - @quantities.each do |quantity|
            = render quantity

    .title
        %h1.sm Constants
        = link_to search_url(tab: 'constants') do
            %i.nc-icon.nc-zoom-2

    .myg-grid.myg-wrap--phone
        - @constants.each do |constant|
            = render constant
