%h1= t 'cd.physical_quantities'

.cards
    - (Quantity.with_translations(I18n.locale).purchased(current_user).base + Quantity.with_translations(I18n.locale).free.base).sort_by { |obj| obj.name }.each do |quantity|
        = link_to quantity, class: 'card' do
            .wrapper
                %h2.small= quantity.sym
                %p.small
                    %span= quantity.name
                    - if quantity.vector
                        ·
                        %span= t 'd.vector'
            = asset 'components/list/item-open.svg'


%h1= t 'cd.physical_constants'

.cards
    - (Constant.with_translations(I18n.locale).purchased(current_user) + Constant.with_translations(I18n.locale).free).sort_by { |obj| obj.name }.each do |constant|
        = link_to constant, class: 'card' do
            .wrapper
                %h2.small= constant.sym
                %p.small
                    %span= constant.name
            = asset 'components/list/item-open.svg'
