- unless current_user && (current_user.purchases.count + Pack.where(price: 0).count) == Pack.all.count
    .ad
        %h3= t 'quantities.index.ad.title'
        %p= t 'quantities.index.ad.content'
        = link_to t('quantities.index.ad.link'), categories_url, class: 'btn', data: { turbolinks_animate_type: 'nav' }

.wrapper

    %h1= t 'cd.physical_quantities'
    .cards
        - (Quantity.with_translations(I18n.locale).purchased(current_user).base + Quantity.with_translations(I18n.locale).free.base).sort_by { |obj| obj.name }.each do |quantity|
            = render 'quantities/quantity', quantity: quantity


    %h1= t 'cd.physical_constants'

    .cards
        - (Constant.with_translations(I18n.locale).purchased(current_user) + Constant.with_translations(I18n.locale).free).sort_by { |obj| obj.name }.each do |constant|
            = render 'constants/constant', constant: constant
