- meta title: @quantity.name

- replace :title do
    %h1.sym= @quantity.sym
- replace :subtitle do
    %p= @quantity.name

%p
    = @quantity.description
    - if @quantity.vector
        = t 'quantities.show.vector'
%p= link_to 'Learn more', @quantity.wikipedia, target: '_blank'

%h2 Pack
.myg-grid.myg-wrap--phone
    = render @quantity.pack, animation: 'fadeout'

- if @quantity.parent_quantity.present?
    %h2 Belongs to
    .myg-grid.myg-wrap--phone
        = render @quantity.parent_quantity, animation: 'fadeout'

- if @equations.any?
    %h2 Equations
    - @equations.each do |title, equations|
        %h4= title
        .myg-grid.myg-wrap--phone
            - equations.each do |equation|
                = render equation, animation: 'fadeout'

- if @quantities.any?
    %h2 Quantities
    - @quantities.each do |quantity|
        = render quantity, animation: 'fadeout', link: quantity.pack.purchased?(current_user)

- if @unit_of_measurements.any?
    %h2 Units
    - @unit_of_measurements.each do |unit_of_measurement|
        = render unit_of_measurement, animation: 'fadeout', link: can?(:read, unit_of_measurement)

- if @calculations.any?
    %h2 Units
    - @calculations.each do |calculation|
        = render calculation, animation: 'fadeout'
