= link_to measurement, class: 'myg-card', data: { turbolinks_animate_animation: local_assigns[:animation] } do
    %h2.sym
        = measurement.pretty_value
        %span= measurement.unit_of_measurement.sym
    %p.sm
        - unless measurement.name.nil?
            %span= measurement.name
            ·
        %span= measurement.quantity.name
