- meta title: @measurement.name || t('calculations.measurements.show.title', name: @measurement.quantity.name)

- replace :tools do
  = link_to 'javascript:void(0)' do
    %i.nc-icon.nc-ungroup.clipboard{ data: { clipboard_text: @measurement.value.to_s } }
- replace :title do
  %h1.sym.clipboard{ data: { clipboard_text: @measurement.value.to_s } }
    = @measurement.pretty_value
    %span= @measurement.unit_of_measurement.sym
- replace :subtitle do
  %p
    - if @measurement.quantity.pack.purchased?(current_user)
      %span= link_to @measurement.quantity.name, @measurement.quantity, class: 'hyperlink--inherit', data: { turbolinks_animate_animation: 'fadeout' }
    - else
      %span= @measurement.quantity.name
    ·
    %span= time_ago_in_words @measurement.created_at

%h2 Unit
.myg-grid.myg-wrap--phone
  = render 'unit_of_measurements/unit_of_measurement', unit_of_measurement: @measurement.unit_of_measurement, animation: 'fadeout'
