- meta title: @measurement.name || t('calculations.measurements.show.edit', name: @measurement.quantity.name)

- replace :tools do
    = link_to 'javascript:void(0)', class: 'clipboard', data: { clipboard_text: @measurement.value.to_s } do
        %i.nc-icon.nc-ungroup
    = link_to 'javascript:void(0)', class: 'modalist--trigger' do
        %i.nc-icon.nc-share-26
- replace :title do
    %h1.sym.clipboard{ data: { clipboard_text: @measurement.value.to_s } }
        = @measurement.pretty_value
        %span= @measurement.unit_of_measurement.sym
- replace :subtitle do
    %p
        - if @measurement.quantity.pack.purchased?(current_user)
            %span= link_to @measurement.quantity.name, @measurement.quantity, data: { turbolinks_animate_animation: 'fadeout' }
        - else
            %span= @measurement.quantity.name
        ·
        %span= time_ago_in_words @measurement.created_at

%h2 Unit
.myg-grid.myg-wrap--phone
    = render @measurement.unit_of_measurement, animation: 'fadeout'
