= link_to category, class: 'myg-card', data: { turbolinks_animate_animation: local_assigns[:animation] } do
    %h3= category.name
    %p.flex.center--c
        - if category.purchased?(current_user) == 0
            %i.myg-i-icon.myg-i-check-circle-08
            %span= t 'categories.index.added'
        - elsif category.purchased?(current_user) == 1
            %i.myg-i-icon.myg-i-e-check
            %span= t 'categories.index.partially_added'
        - else
            %i.myg-o-i-icon.myg-o-i-shape-oval
            %span= t 'categories.index.not_added'
