- if local_assigns[:link]
    .card
        .wrapper
            %h2.small= constant.sym
            %p.small
                %span= constant.name
- else
    = link_to constant, class: 'card', data: { turbolinks_animate_animation: (local_assigns[:animation] ? animation : nil) } do
        .wrapper
            %h2.small= constant.sym
            %p.small
                %span= constant.name
        = asset 'components/list/item-open.svg'
