= link_to '', class: 'back preventdefault', onclick: 'history.back();', data: { turbolinks_animate_appear: 'fadein' } do
    = asset 'components/back.svg'

.tools
    .copy{ data: { clipboard_text: @constant.value.to_s } }= asset 'icons/ungroup.svg'



.head-wrapper
    %h2.copy{ data: { clipboard_text: @constant.value.to_s } }
        = @constant.pretty_value
        %span= @constant.unit_of_measurement.sym

.content-wrapper
    %p
        = @constant.name

    %h3= t 'd.pack'
    .cards
        = link_to @constant.pack, class: 'card', data: { turbolinks_animate_animation: 'fadeout' } do
            .wrapper
                %h1.small= number_to_currency @constant.pack.price
                %p.small
                    %span= @constant.pack.name
            = asset 'components/list/item-open.svg'

    %h3= t 'd.unit_of_measurement'
    .cards
        .card
            .wrapper
                %h2.small= @constant.unit_of_measurement.sym
                %p.small
                    %span= @constant.unit_of_measurement.name
