- meta title: @constant.name

- replace :tools do
    = link_to 'javascript:void(0)', class: 'clipboard', data: { clipboard: @value.to_s } do
        %i.nc-icon.nc-single-copy-04
- replace :title do
    %h1.sym.clipboard{ data: { clipboard: @constant.value.to_s } }
        = @constant.pretty_value
        %span= @constant.unit_of_measurement.sym if @constant.unit_of_measurement
- replace :subtitle do
    %p= @constant.name

%p= link_to 'Learn more', @constant.wikipedia, target: '_blank', class: 'hyperlink--inherit' if @constant.wikipedia

%h2 Pack
.myg-grid.myg-wrap--phone
    = render @constant.pack, animation: 'fadeout'

- if @constant.unit_of_measurement
    %h2 Unit
    .myg-grid.myg-wrap--phone
        = render @constant.unit_of_measurement, animation: 'fadeout'

- if @calculations.any?
    %h2 Calculations
    .myg-grid.myg-wrap--phone
        - @calculations.each do |calculation|
            = render calculation, animation: 'fadeout'
