- replace :layout, 'application'
- replace :body_class, 'myg-layout--toolbar'

= mozaic do

    = component 'myg/toolbar', class: 'myg-toolbar--flexible', data: { turbolinks_animate_persist: 'application' } do
        .mdc-toolbar__row
            %section.mdc-toolbar__section.mdc-toolbar__section--align-start
                = link_to root_url, data: { turbolinks_animate_type: 'application' } do
                    = asset 'components/brand/logo'
            %section.mdc-toolbar__section.mdc-toolbar__section--align-end
                = link_to t('layouts.application.twitter'), Settings.phylator.socials.twitter, target: '_blank'
                - if current_user
                    = link_to t('d.account'), edit_user_registration_url
                - else
                    = link_to t('d.signin'), new_user_session_url

    .myg-content
        = mozaic_area :application do
            = yield
