!!!
%html{ lang: I18n.locale }

    %head

        %meta{ charset: 'utf-8' }
        %meta{ name: 'viewport', content: 'user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1' }

        = metamagic title: 'Phylator', keywords: ['physics', 'calculator', 'convertation']
        %link{ rel: 'manifest', href: '/manifest.json' }

        %link{ rel: 'apple-touch-icon', sizes: '76x76', href: (area :apple_icon_76x76, 'apple_icon_76x76.png') }
        %link{ rel: 'apple-touch-icon', sizes: '120x120', href: (area :apple_icon_120x120, 'apple_icon_120x120.png') }
        %link{ rel: 'apple-touch-icon', sizes: '152x152', href: (area :apple_icon_152x152, 'apple_icon_152x152.png') }
        %link{ rel: 'icon', sizes: '192x192', href: (area :icon_192x192, 'icon_192x192.png') }
        %link{ rel: 'icon', sizes: '256x256', href: (area :icon_256x256, 'icon_256x256.png') }
        %link{ rel: 'icon', sizes: '384x384', href: (area :icon_384x384, 'icon_384x384.png') }
        %link{ rel: 'icon', sizes: '512x512', href: (area :icon_512x512, 'icon_512x512.png') }
        %link{ rel: 'msapplication-square70x70logo', content: (area :ms_icon_70x70, 'ms_icon_70x70.png') }
        %link{ rel: 'msapplication-square150x150logo', content: (area :ms_icon_150x150, 'ms_icon_150x150.png') }
        %link{ rel: 'msapplication-wide310x150logo', content: (area :ms_icon_310x150, 'ms_icon_310x150.png') }
        %link{ rel: 'msapplication-square310x310logo', content: (area :ms_icon_310x310, 'ms_icon_310x310.png') }

        %meta{ name: 'theme-color', content: area(:theme_color, '#242a38') }

        = favicon_link_tag '/favicon.ico'

        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=AM_CHTML', 'data-turbolinks-track': 'reload'

        %link{ rel: 'stylesheet', href: 'https://use.typekit.net/vvt1lpo.css' }

        = csrf_meta_tags

        = area :head


    %body{ class: class_hierarchy( [params[:controller].split('/').each { |n| n }, action_name] ) }

        -# %p.notice= notice
        -# %p.alert= alert
        = area :body do
            = yield
